/* Arrow Navigator Stylez */
/* Arrow 02 */
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(a02.png) no-repeat;
    overflow: hidden;
}

.jssora02r {
    background-position: -63px -33px;
}

.jssora02l {
    background-position: -3px -33px;
}