/* Slider appearance */
.fls-wrapper{
    border:1px solid #ccc;
    background-color:#000;
}
/* Slider captions */
.fls-content{
    max-height:20%;
    overflow:auto;
    background-color:#fff;
}
/* Arrow Navigator Stylez */

/* Arrow 01 */
.jssora01l,.jssora01r,.jssora01ldn,.jssora01rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a01.png) no-repeat;
    overflow:hidden}

.jssora01l{background-position:-8px -38px;}
.jssora01r{background-position:-68px -38px;}
.jssora01l:hover{background-position:-128px -38px;}
.jssora01r:hover{background-position:-188px -38px;}
.jssora01ldn{background-position:-8px -38px;}
.jssora01rdn{background-position:-68px -38px;}

/* Arrow 02 */
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(a02.png) no-repeat;
    overflow: hidden;
}

.jssora02r, .jssora02rdn{
    background-position: -63px -33px;
}
.jssora02r:hover, .jssora02r:focus {
    background-position: -183px -33px;
}

.jssora02l, .jssora02ldn {
    background-position: -3px -33px;
}
.jssora02l:hover, .jssora02l:focus {
    background-position: -123px -33px;
}
/* Arrow 03 */
.jssora03l,.jssora03r,.jssora03ldn,.jssora03rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a03.png) no-repeat;
    overflow:hidden;}

.jssora03l{background-position:-3px -33px;}
.jssora03r{background-position:-63px -33px;}
.jssora03l:hover{background-position:-123px -33px;}
.jssora03r:hover{background-position:-183px -33px;}
.jssora03ldn{background-position:-243px -33px;}
.jssora03rdn{background-position:-303px -33px;}

/* Arrow 04 */
.jssora04l,.jssora04r,.jssora04ldn,.jssora04rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a04.png) no-repeat;
    overflow:hidden;}
.jssora04l{background-position:-16px -39px;}
.jssora04r{background-position:-76px -39px;}
.jssora04l:hover{background-position:-136px -39px;}
.jssora04r:hover{background-position:-196px -39px;}
.jssora04ldn{background-position:-256px -39px;}
.jssora04rdn{background-position:-316px -39px;}

/* Arrow 05 */
.jssora05l,.jssora05r,.jssora05ldn,.jssora05rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a17.png) no-repeat;
    overflow:hidden;}

.jssora05l{background-position:-10px -40px;}
.jssora05r{background-position:-70px -40px;}
.jssora05l:hover{background-position:-130px -40px;}
.jssora05r:hover{background-position:-190px -40px;}
.jssora05ldn{background-position:-250px -40px;}
.jssora05rdn{background-position:-310px -40px;}

/* Arrow 06 */
.jssora06l,.jssora06r,.jssora06ldn,.jssora06rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a06.png) no-repeat;
    overflow:hidden;}

.jssora06l{background-position:-8px -38px;}
.jssora06r{background-position:-68px -38px;}
.jssora06l:hover{background-position:-128px -38px;}
.jssora06r:hover{background-position:-188px -38px;}
.jssora06ldn{background-position:-248px -38px;}
.jssora06rdn{background-position:-308px -38px;}

/* Arrow 07 */
.jssora07l,.jssora07r,.jssora07ldn,.jssora07rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a07.png) no-repeat;
    overflow:hidden;}

.jssora07l{background-position:-5px -35px;}
.jssora07r{background-position:-65px -35px;}
.jssora07l:hover{background-position:-125px -35px;}
.jssora07r:hover{background-position:-185px -35px;}
.jssora07ldn{background-position:-245px -35px;}
.jssora07rdn{background-position:-305px -35px;}

/* Arrow 08 */
.jssorb08l,.jssorb08r,.jssorb08ldn,.jssorb08rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a08.png) no-repeat;
    overflow:hidden;
    opacity:.4;
    filter:alpha(opacity=40);}

.jssorb08l{background-position:-5px -35px;}
.jssorb08r{background-position:-65px -35px;}
.jssorb08l:hover{background-position:-5px -35px;opacity:.8;filter:alpha(opacity=80);}
.jssorb08r:hover{background-position:-65px -35px;opacity:.8;filter:alpha(opacity=80);}
.jssorb08ldn{background-position:-5px -35px;opacity:.3;filter:alpha(opacity=30);}
.jssorb08rdn{background-position:-65px -35px;opacity:.3;filter:alpha(opacity=30);}

/* Arrow 09 */
.jssora09l,.jssora09r,.jssora09ldn,.jssora09rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a09.png) no-repeat;
    overflow:hidden;
    opacity:.4;
    filter:alpha(opacity=40);}

.jssora09l{background-position:-5px -35px;}
.jssora09r{background-position:-65px -35px;}
.jssora09l:hover{background-position:-5px -35px; opacity:.8;filter:alpha(opacity=80);}
.jssora09r:hover{background-position:-65px -35px;opacity:.8;filter:alpha(opacity=80);}
.jssora09ldn{background-position:-5px -35px;opacity:.3;filter:alpha(opacity=30);}
.jssora09rdn{background-position:-65px -35px;opacity:.3;filter:alpha(opacity=30);}

/* Arrow 10 */
.jssora10l,.jssora10r,.jssora10ldn,.jssora10rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a10.png) no-repeat;
    overflow:hidden;}

.jssora10l{background-position:-16px -39px;}
.jssora10r{background-position:-76px -39px;}
.jssora10l:hover{background-position:-136px -39px;}
.jssora10r:hover{background-position:-196px -39px;}
.jssora10ldn{background-position:-256px -39px;}
.jssora10rdn{background-position:-316px -39px;}

/* Arrow 11*/
.jssora11l,.jssora11r,.jssora11ldn,.jssora11rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a11.png) no-repeat;
    overflow:hidden;}

.jssora11l{background-position:-11px -41px;}
.jssora11r{background-position:-71px -41px;}
.jssora11l:hover{background-position:-131px -41px;}
.jssora11r:hover{background-position:-191px -41px;}
.jssora11ldn{background-position:-251px -41px;}
.jssora11rdn{background-position:-311px -41px;}

/* Arrow 12 */
.jssora12l,.jssora12r,.jssora12ldn,.jssora12rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a12.png) no-repeat;
    overflow:hidden;}

.jssora12l{background-position:-16px -37px;}
.jssora12r{background-position:-75px -37px;}
.jssora12l:hover{background-position:-136px -37px;}
.jssora12r:hover{background-position:-195px -37px;}
.jssora12ldn{background-position:-256px -37px;}
.jssora12rdn{background-position:-315px -37px;}

/* Arrow 13*/
.jssora13l,.jssora13r,.jssora13ldn,.jssora13rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a13.png) no-repeat;
    overflow:hidden;}

.jssora13l{background-position:-10px -35px;}
.jssora13r{background-position:-70px -35px;}
.jssora13l:hover{background-position:-130px -35px;}
.jssora13r:hover{background-position:-190px -35px;}
.jssora13ldn{background-position:-250px -35px;}
.jssora13rdn{background-position:-310px -35px;}

/* Arrow 14 */
.jssora14l,.jssora14r,.jssora14ldn,.jssora14rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a14.png) no-repeat;
    overflow:hidden;}

.jssora14l{background-position:-15px -35px;}
.jssora14r{background-position:-75px -35px;}
.jssora14l:hover{background-position:-135px -35px;}
.jssora14r:hover{background-position:-195px -35px;}
.jssora14ldn{background-position:-255px -35px;}
.jssora14rdn{background-position:-315px -35px;}

/* Arrow 15 */
.jssora15l,.jssora15r,.jssora15ldn,.jssora15rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a15.png) no-repeat;
    overflow:hidden;}

.jssora15l{background-position:-20px -41px;}
.jssora15r{background-position:-80px -41px;}
.jssora15l:hover{background-position:-140px -41px;}
.jssora15r:hover{background-position:-200px -41px;}
.jssora15ldn{background-position:-260px -41px;}
.jssora15rdn{background-position:-320px -41px;}

/* Arrow 16 */
.jssora16l,.jssora16r,.jssora16ldn,.jssora16rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a16.png) no-repeat;
    overflow:hidden;}
.jssora16l{background-position:-19px -42px;}
.jssora16r{background-position:-79px -42px;}
.jssora16l:hover{background-position:-139px -42px;}
.jssora16r:hover{background-position:-199px -42px;}
.jssora16ldn{background-position:-259px -42px;}
.jssora16rdn{background-position:-319px -42px;}

/* Arrow 18 */
.jssora18l,.jssora18r,.jssora18ldn,.jssora18rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a18.png) no-repeat;
    overflow:hidden;}

.jssora18l{background-position:-16px -45px;}
.jssora18r{background-position:-76px -45px;}
.jssora18l:hover{background-position:-136px -45px;}
.jssora18r:hover{background-position:-196px -45px;}
.jssora18ldn{background-position:-256px -45px;}
.jssora18rdn{background-position:-316px -45px;}

/* Arrow 19 */
.jssora19l,.jssora19r,.jssora19ldn,.jssora19rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a19.png) no-repeat;
    overflow:hidden;}

.jssora19l{background-position:-5px -35px;}
.jssora19r{background-position:-65px -35px;}
.jssora19l:hover{background-position:-125px -35px;}
.jssora19r:hover{background-position:-185px -35px;}
.jssora19ldn{background-position:-245px -35px;}
.jssora19rdn{background-position:-305px -35px;}

/* Arrow 20 */
.jssora20l,.jssora20r,.jssora20ldn,.jssora20rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a20.png) no-repeat;
    overflow:hidden;}

.jssora20l{background-position:-3px -33px;}
.jssora20r{background-position:-63px -33px;}
.jssora20l:hover{background-position:-123px -33px;}
.jssora20r:hover{background-position:-183px -33px;}
.jssora20ldn{background-position:-243px -33px;}
.jssora20rdn{background-position:-303px -33px;}

/* Arrow 21 */
.jssora21l,.jssora21r,.jssora21ldn,.jssora21rdn{
    position:absolute;
    cursor:pointer;
    display:block;
    background:url(a21.png) center center no-repeat;
    overflow:hidden;}

.jssora21l{background-position:-3px -33px;}
.jssora21r{background-position:-63px -33px;}
.jssora21l:hover{background-position:-123px -33px;}
.jssora21r:hover{background-position:-183px -33px;}
.jssora21ldn{background-position:-243px -33px;}
.jssora21rdn{background-position:-303px -33px;}
